<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Directory index of {{ path }}</title>
  <meta name="description" content="Directory index of {{ path }}">
  <style>
  body {
      font-family: monospace;
  }
  </style>
</head>
<body>
    <h1>Directory index of {{ path }}</h1>
    <table style="width:100%">
      <tr>
        <th>Entry</th>
        <th>Size</th>
        <th>Last Modified</th>
      </tr>
      {% if parent %}
      <tr class="parent">
        <td><a href="{{ parent }}">..</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      {% endif %}
      {% for entry in items %}
      <tr>
        <td><a href="{{ entry.href }}">{{ entry.key }}</a></td>
        <td>{{ entry.size }}</td>
        <td>{{ entry.modify }}</td>
      </tr>
      {% endfor %}
    </table>
</body>
</html>
